# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
.venv312/
venv/
env/

# Environment files
.env
.env.*

# Node
node_modules/
frontend/node_modules/

# Frontend build
frontend/dist/
frontend/build/

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# Logs
*.log

# Unused MobileNet models
backend/models/mobilenetv3/mobilenetv3_best.pth
backend/models/mobilenetv3/mobilenetv3_small_final.pth
backend/models/mobilenetv3/mobilenetv3_small_improved_best.pth
backend/models/mobilenetv3/mobilenetv3_small_improved_final.pth
backend/models/mobilenetv3/mobilenetv3_small_v3_best.pth
backend/models/mobilenetv3/mobilenetv3_small_v3_final.pth

# Keep the actual production model:
# backend/models/mobilenetv3/mobilenetv3_small_best.pth
# User uploaded images
backend/app/uploads/images/*
backend/models/mobilenetv3/mobilenetv3_best.pth
backend/models/mobilenetv3/mobilenetv3_small_final.pth
backend/models/mobilenetv3/mobilenetv3_small_improved_best.pth
backend/models/mobilenetv3/mobilenetv3_small_improved_final.pth
backend/models/mobilenetv3/mobilenetv3_small_v3_best.pth
backend/models/mobilenetv3/mobilenetv3_small_v3_final.pth
