# ==============================
# Python
# ==============================
backend/venv/
backend/.env
backend/uploads/
**/__pycache__/
*.pyc

# ==============================
# AI / ML
# ==============================
# AI generated graphs/models
backend/ai/models/
datasets/
*.keras
*.h5
*.pkl
*.joblib

# ==============================
# Node
# ==============================
frontend/node_modules/
node_modules/
dist/
build/

# ==============================
# Environment files
# ==============================
.env

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# PostgreSQL
# ==============================
*.sql

# ==============================
# OS
# ==============================
Thumbs.db
.DS_Store