*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f4f7fc;
}

.login-page{
display:grid;
grid-template-columns:55% 45%;
min-height:100vh;
}

.left{
background:linear-gradient(135deg,#2563eb,#4f46e5,#7c3aed);
padding:60px;
display:flex;
flex-direction:column;
justify-content:center;
color:white;
}

.logo{
font-size:44px;
font-weight:700;
line-height:1.2;
margin-bottom:20px;
}

.tagline{
font-size:18px;
opacity:.9;
margin-bottom:40px;
max-width:500px;
}

.features{
display:flex;
flex-direction:column;
gap:18px;
}

.feature{
display:flex;
align-items:center;
gap:15px;
padding:16px 20px;
background:rgba(255,255,255,.12);
backdrop-filter:blur(12px);
border-radius:14px;
font-size:17px;
transition:.3s;
}

.feature span{
font-size:28px;
min-width:35px;
display:flex;
justify-content:center;
align-items:flex-start;
}

.feature div{
display:flex;
flex-direction:column;
}

.feature h4{
font-size:17px;
font-weight:600;
margin-bottom:4px;
color:white;
}

.feature p{
font-size:14px;
opacity:.85;
line-height:1.4;
margin:0;
}

.feature:hover{
transform:translateX(8px);
background:rgba(255,255,255,.18);
}

.right{
display:flex;
justify-content:center;
align-items:center;
padding:40px;
background:#f8fbff;
}

.card{
width:430px;
background:#fff;
padding:48px;
border-radius:24px;
box-shadow:0 25px 60px rgba(0,0,0,.10);
border:1px solid #edf2f7;
}

.card h2{
font-size:34px;
font-weight:700;
margin-bottom:8px;
color:#0f172a;
}

.subtitle{
    font-size:15px;
    font-weight:400;
    color:#6b7280;
    margin-bottom:25px;
}

.input-group{
margin-bottom:18px;
}

.input-group input{
width:100%;
padding:16px;
border:1px solid #d6deea;
border-radius:12px;
font-size:16px;
transition:.3s;
outline:none;
}

.input-group input:hover{
border-color:#94a3b8;
}

.input-group input:focus{
border-color:#2563eb;
box-shadow:0 0 0 4px rgba(37,99,235,.15);
}

.login-btn{
width:100%;
padding:15px;
border:none;
border-radius:14px;
font-size:17px;
font-weight:600;
letter-spacing:.5px;
color:white;
cursor:pointer;
background:linear-gradient(135deg,#2563eb,#4f46e5);
transition:all .3s ease;
box-shadow:0 8px 20px rgba(37,99,235,.25);
}
.login-btn:hover{
transform:translateY(-2px);
box-shadow:0 15px 30px rgba(37,99,235,.3);
}

.bottom-text{
margin-top:22px;
text-align:center;
color:#64748b;
}

.bottom-text a{
color:#2563eb;
font-weight:700;
text-decoration:none;
transition:.3s;
}

.bottom-text a:hover{
color:#1d4ed8;
}

@media(max-width:950px){

.login-page{
grid-template-columns:1fr;
}

.left{
display:none;
}

.card{
width:100%;
max-width:420px;
}

}